{% extends 'main.html' %}

{% block content %}

<main class="formpage my-xl">
    <div class="content-box">
        <div class="formwrapper">
            <h3>password reset sent </h3>
            <p>
                we've emailed you instruction for setting your password,
                if an account exists with the email you entered. you should receive them short
            </p>
            <br>
            <p>
                if you don't receive an email, please make sure you've entered the address you
                check your spam folder.
            </p>



        </div>
    </div>
</main>

{% endblock %}